<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/AdminHead :: AdminHead"></head>

<body>
    <!-- ======== Preloader =========== -->
    <div th:replace="fragments/spinner :: spinner"></div>
    <!-- ======== Preloader =========== -->

    <!-- ======== sidebar-nav start =========== -->
    <aside th:replace="fragments/AdminAside :: AdminAside"></aside>
    <div class="overlay"></div>
    <!-- ======== sidebar-nav end =========== -->

    <!-- ======== main-wrapper start =========== -->
    <main class="main-wrapper">
        <!-- ========== header start ========== -->
        <header th:replace="fragments/AdminHeader :: AdminHeader"></header>
        <!-- ========== header end ========== -->

        <!-- ========== section start ========== -->
        <section class="section">
            <div class="container-fluid">
                <!-- ========== title-wrapper start ========== -->
                <div class="title-wrapper pt-30">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="title">
                                <h2>Quản Lý Thành Viên</h2>
                            </div>
                        </div>
                        <!-- end col -->
                        <div class="col-md-6">
                            <div class="breadcrumb-wrapper">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item">
                                            <a href="#0">Dashboard</a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">
                                            Member
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- ========== title-wrapper end ========== -->

                <!-- ========== tables-wrapper start ========== -->
                <div class="tables-wrapper">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card-style mb-30">
                                <div class="card-title mb-3">
                                    <h6 class="mb-10">Vào Khu Học Tập</h6>
                                    <script type="text/javascript">
                                        window.onload = function() {
                                            //if(document.getElementById("message1").value!== '')
                                                if(document.getElementById("message1").value!==''){
                                                    //alert(document.getElementById("message1").value);
                                                    swal({
                                                        title: document.getElementById("message1").value,
                                                        text: "Nhấn vào nút để tiếp tục!"
                                                        //icon: "error"
                                                    });
                                                };
                                            //};
                                            //}
//                                            function kiemTraRong() {
//                                                var matb = document.getElementById("matb").value;
//                                                var tentb = document.getElementById("tentb").value;
//                                                var motatb = document.getElementById("motatb").value;
//
//                                                if (matb.trim() == '' || tentb.trim() == '' || motatb.trim() == ''|| matb.trim() == '0') {
//                                                    alert('Các trường thông tin không được để trống');
//                                                    return false;
//                                                }
//                                                else if(!/^\d+$/.test(matb.trim())){
//                                                    alert('Mã thiết bị phải là số')
//                                                    return false;
//                                                }
//
//                                                return true;
                                            }
                                    </script>
                                    <div class="search-device row mt-3">
                                        <input type="hidden" th:value="${message}" id="message1"/> 
                                        <form action="#" th:action="@{/admin/member/check_in/save}" th:object="${ThongTinSD}" method="post" >
                                            <div class="input-style-1 col-9 pe-0">
                                                <input type="text" id="" class="form-control" th:field="*{thanhVien.id}" placeholder="Mã Thành Viên">
                                            </div>
                                            <div class="col-3">
                                                <button class="main-btn active-btn btn-hover" type="submit"> Xác Nhận</button>
                                            </div>
                                        </form>   
                                    </div>

                                </div>

                                <div
                                    class="table-wrapper table-responsive d-flex flex-column justify-content-center align-items-center">
                                    <table class="table mb-3">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <h6>Mã thông tin </h6>
                                                </th>
                                                <th>
                                                    <h6>Mã thành viên</h6>
                                                </th>
                                                <th>
                                                    <h6>Thời gian vào</h6>
                                                </th>
                                            </tr>
                                            <!-- end table row-->
                                        </thead>
                                        <tbody>
                                            <!-- start table row-->
                                            <tr th:each="thongtinsd : ${listThongTinSD}">
                                            <td th:text="${thongtinsd.MaTT}"></td>
                                            <td th:text="${thongtinsd.thanhVien.id}"></td>
                                            <td th:text="${#temporals.format(thongtinsd.thoiGianVao, 'yyyy-MM-dd hh:mm ')}"></td>
                                        
                                        
                                    </tr>
                                            <!-- end table row-->
                                        </tbody>
                                    </table>
                                    <!-- end table -->
                                </div>
                            </div>
                            <!-- end card -->
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- ========== tables-wrapper end ========== -->
            </div>
            <!-- end container -->
        </section>

        <!-- ========== section end ========== -->

        <!-- ========== footer start =========== -->
        <footer th:replace="fragments/AdminFooter :: AdminFooter"></footer>
        <!-- ========== footer end =========== -->
    </main>
    <!-- ======== main-wrapper end =========== -->

    <!-- ========= All Javascript files linkup ======== -->

    <div th:replace="fragments/AdminScript :: AdminScript"></div>

</body>

</html>