<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/AdminHead :: AdminHead"></head>

<body>
    <!-- ======== Preloader =========== -->
    <div th:replace="fragments/spinner :: spinner"></div>
    <!-- ======== Preloader =========== -->

    <!-- ======== sidebar-nav start =========== -->
    <aside th:replace="fragments/AdminAside :: AdminAside"></aside>
    <div class="overlay"></div>
    <!-- ======== sidebar-nav end =========== -->

    <!-- ======== main-wrapper start =========== -->
    <main class="main-wrapper">
        <!-- ========== header start ========== -->
        <header th:replace="fragments/AdminHeader :: AdminHeader"></header>
        <!-- ========== header end ========== -->

        <!-- ========== section start ========== -->
        <section class="section">
            <div class="container-fluid">
                <!-- ========== title-wrapper start ========== -->
                <div class="title-wrapper pt-30">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="title">
                                <h2>eCommerce Dashboard</h2>
                            </div>
                        </div>
                        <!-- end col -->
                        <div class="col-md-6">
                            <div class="breadcrumb-wrapper">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item">
                                            <a href="#0">Dashboard</a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">
                                            eCommerce
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                </div>
                <div class="row">
                    <div class="col-lg-12 icon-card d-flex flex-column mb-3 p-4">
                        <div id="pickTime" class="w-100">
                            <div id="radBtn_Time">

                                <label class="form-label" for="date">Chọn ngày:</label>
                                <input class="form-control" type="date" id="date" name="date">

                                <input class="" type="radio" id="none" name="time" value="0" checked
                                    onclick=checkSelectionQuery()>
                                <label class="form-label" for="none">Không</label>

                                <input type="radio" name="time" value="1" onclick=checkSelectionQuery()>
                                <label for="date">Ngày</label>

                                <input class="" type="radio" id="month" name="time" value="2"
                                    onclick=checkSelectionQuery()>
                                <label class="" for="month">Tháng</label>
                                <input class="" type="radio" id="year" name="time" value="3"
                                    onclick=checkSelectionQuery()>
                                <label class="" for="year">Năm</label>
                            </div>
                        </div>
                        <div id="pickStatistic" class="w-100">
                            <select class="form-select" id="statistic_Select" onchange="checkSelectionQuery()">
                                <option value="0">Khoa</option>
                                <option value="1">Ngành</option>
                                <option value="2">Thiết bị</option>
                                <option value="3">Vi phạm</option>
                            </select>
                        </div>

                        <!-- End Icon Cart -->
                    </div>
                </div>
                <!-- ========== title-wrapper end ========== -->
                <div class="row">
                    <!-- End Col -->
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                        <div class="icon-card mb-30">

                            <div class="content">
                                <h6 class="mb-10">Tổng số lượng thành viên đã vào hôm nay</h6>
                                <h3 class="text-bold mb-10" th:text="${countTV}">  </h3>
                                <h3>Thành viên</h3>
                            </div>
                        </div>
                        <!-- End Icon Cart -->
                    </div>
                    <!-- End Col -->
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                        <div class="icon-card mb-30">
                            
                            <div class="content">
                                <h6 class="mb-10">Tổng số lượng thiết bị đang được mượn</h6>
                                <h3 class="text-bold mb-10" th:text="${countThietBiDangDuocMuon}">  </h3>
                                <h3>Thiết bị </h3>
                            </div>
                        </div>
                        <!-- End Icon Cart -->
                    </div>
                    <!-- End Col -->
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                        <div class="icon-card mb-30">

                            <div class="content">
                                <h6 class="mb-10">Tổng số lượng vi phạm chưa được xử lý</h6>
                                <h3 class="text-bold mb-10"th:text="${countViPhamDangXuLY}">  </h3>
                                <h3>Vi phạm</h3>
                            </div>
                        </div>
                        <!-- End Icon Cart -->
                    </div>
                    <!-- End Col -->
                </div>

                <canvas id="myChart" width="400" height="400"></canvas>
                
                <script th:inline="javascript">
                    //truyền dữ liệu từ controller vào js bằng thymeleaf 
                    var khoaAndCount = /*[[ ${khoaAndCount} ]]*/ [];
                </script>

                <!-- End Row -->
                <div class="row">
                    <div class="col-lg-7">
                        <div class="card-style mb-30">
                            <div class="title d-flex flex-wrap justify-content-between">
                                <div class="left">
                                    <h6 class="text-medium mb-10">Yearly Stats</h6>
                                    <h3 class="text-bold">$245,479</h3>
                                </div>
                                <div class="right">
                                    <div class="select-style-1">
                                        <p style="margin-bottom: 10px;">Chọn năm</p>
                                        <div class="select-position select-sm">
                                            <select class="light-bg">
                                                <option th:each="year : ${allYears}" th:value="${year}" th:text="${year}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- end select -->
                                </div>
                            </div>
                            <!-- End Title -->
                            <div class="chart">
                                <canvas id="Chart1" style="width: 100%; height: 400px; margin-left: -35px;"></canvas>
                            </div>
                            <!-- End Chart -->
                        </div>
                    </div>
                    <!-- End Col -->
                    <div class="col-lg-5">
                        <div class="card-style mb-30">
                            <div class="title d-flex flex-wrap align-items-center justify-content-between">
                                <div class="left">
                                    <h6 class="text-medium mb-30">Sales/Revenue</h6>
                                </div>
                                <div class="right">
                                    <div class="select-style-1">
                                        <div class="select-position select-sm">
                                            <select class="light-bg">
                                                <option value="">Yearly</option>
                                                <option value="">Monthly</option>
                                                <option value="">Weekly</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- end select -->
                                </div>
                            </div>
                            <!-- End Title -->
                            <div class="chart">
                                <canvas id="Chart2" style="width: 100%; height: 400px; margin-left: -45px;"></canvas>
                            </div>
                            <!-- End Chart -->
                        </div>
                    </div>
                    <!-- End Col -->
                </div>
                <!-- End Row -->
            </div>
            <!-- end container -->
        </section>
        <!-- ========== section end ========== -->

        <!-- ========== footer start =========== -->
        <footer th:replace="fragments/AdminFooter :: AdminFooter"></footer>
        <!-- ========== footer end =========== -->
    </main>
    <!-- ======== main-wrapper end =========== -->

    <!-- ========= All Javascript files linkup ======== -->

    <div th:replace="fragments/AdminScript :: AdminScript"></div>

</body>

</html>