<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/AdminHead :: AdminHead" ></head>
<body>
<!-- ======== Preloader =========== -->
<div th:replace="fragments/spinner :: spinner"></div>
<!-- ======== Preloader =========== -->

<!-- ======== sidebar-nav start =========== -->
<aside th:replace="fragments/AdminAside :: AdminAside"></aside>
<div class="overlay"></div>
<!-- ======== sidebar-nav end =========== -->

<!-- ======== main-wrapper start =========== -->
<main class="main-wrapper">
    <!-- ========== header start ========== -->
    <header th:replace="fragments/AdminHeader :: AdminHeader"></header>
    <!-- ========== header end ========== -->

    <!-- ========== section start ========== -->
    <section class="section">
        <div class="container-fluid">
            <!-- ========== title-wrapper start ========== -->
            <div class="title-wrapper pt-30">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="title">
                            <h2>Quản Lý Thành Viên</h2>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="col-md-6">
                        <div class="breadcrumb-wrapper">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="#0">Dashboard</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">
                                        Member
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- ========== title-wrapper end ========== -->

            <!-- ========== tables-wrapper start ========== -->
            <div class="tables-wrapper">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-style mb-30">
                            <div class="card-title d-flex justify-content-between align-items-center mb-3">
                                <h6 class="mb-10">Danh sách thành viên</h6>
                                <script>
                                 window.onload = function() {
                                    if(document.getElementById("message1").value!== '')
                                        alert(document.getElementById("message1").value);
                                    };
                                </script>
                                <div class="">
                                    <a href="/admin/member/add_member" class="main-btn primary-btn btn-hover"><i class="fa-solid fa-circle-plus"></i> Thêm</a>
                                    <label class="main-btn success-btn btn-hover"><i class="fa-solid fa-file-excel"></i> Nhập excel
                                        <form action="/admin/member/upload_excel" method="post" enctype="multipart/form-data">
                                            <input type="file" name="file" id="excelFileInput" style="display: none;" accept=".xls,.xlsx">
                                            <button type="submit">Upload</button>
                                        </form>
                                    </label>
                                    <input type="hidden" th:value="${message}" id="message1" >
                                    <button class="main-btn danger-btn btn-hover" onclick="xoaNhiuTv()"><i class="fa-solid fa-trash"></i> Xóa theo năm</button>

                                </div>

                            </div>

                            <div class="table-wrapper table-responsive d-flex flex-column justify-content-center align-items-center">
                                <table class="table mb-3">
                                    <thead>
                                    <tr>
                                        <th>
                                            <h6>Mã thành viên</h6>
                                        </th>
                                        <th>
                                            <h6>Họ Tên</h6>
                                        </th>
                                        <th>
                                            <h6>Khoa</h6>
                                        </th>
                                        <th>
                                            <h6>Ngành</h6>
                                        </th>
                                        <th>
                                            <h6>Số điện thoại</h6>
                                        </th>
                                        <th>
                                            <h6>Email</h6>
                                        </th>
                                        <th>
                                            <h6>Thao tác</h6>
                                        </th>
                                    </tr>
                                    <!-- end table row-->
                                    </thead>
                                    <tbody>
                                    <!-- start table row-->
                                    <tr th:each="thanhvien : ${listthanhvien}">
                                        <td th:text="${thanhvien.id}"></td>
                                        <td th:text="${thanhvien.hoTen}"></td>
                                        <td th:text="${thanhvien.khoa}"></td>
                                        <td th:text="${thanhvien.nganh}"></td>
                                        <td th:text="${thanhvien.sdt}"></td>
                                        <td th:text="${thanhvien.email}"></td>
                                        <td>
                                           <div class="action">
                                                <button class="text-danger" th:onclick="|window.location.href='/admin/member/delete_member/${thanhvien.id}'|">
                                                    
                                                    <i class="fa-solid fa-trash"></i>
                                                </button>
                                                <button class="text-warning" th:onclick="|window.location.href='/admin/member/edit_member/${thanhvien.id}'|">
                                                    <i class="fa-solid fa-pencil"></i>
                                                    
                                                </button>
                                            </div>
                                        </td>
                                        
                                    </tr>
                                    <!-- end table row-->
                                    </tbody>
                                </table>
                                <!-- end table -->
                                <nav aria-label="Page navigation example text-primary">
                                    <ul class="pagination">
                                        <li class="page-item" th:if="${currentlPage>1}">
                                            <a class="page-link" th:href="@{'http://localhost:8080/admin/member?pageNo='+${currentlPage-1}}" >
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        <li th:each="i:${#numbers.sequence(1,totalPage)}" class="page-item active" th:classappend="${currentlPage == i ? 'active' : ''}">
                                            <a class="page-link" th:href="@{'http://localhost:8080/admin/member?pageNo='+${i}}" th:text="${i}">1</a></li>
<!--                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>-->
                                        <li class="page-item" th:if="${currentlPage<totalPage}">
                                            <a class="page-link" th:href="@{'http://localhost:8080/admin/member?pageNo='+${currentlPage+1}}">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- ========== tables-wrapper end ========== -->
        </div>
        <!-- end container -->
    </section>

    <!-- ========== section end ========== -->

    <!-- ========== footer start =========== -->
    <footer th:replace="fragments/AdminFooter :: AdminFooter"></footer>
    <!-- ========== footer end =========== -->
</main>
<!-- ======== main-wrapper end =========== -->

<!-- ========= All Javascript files linkup ======== -->

<div th:replace="fragments/AdminScript :: AdminScript"></div>
<script>
//    function xoaNhiuTv(){
//        swal("Write something here:", {
//            content: "input",
//          })
//          .then((value) => {
////            swal(`You typed: ${value}`);
//              deleteData(value);
//          });
//    }
    
    function xoaNhiuTv() {
    swal("Nhập năm kích hoạt thành viên:", {
        content: "input",
        }).then((value) => {
             
            // Kiểm tra nếu value là một số và có đúng 2 ký tự số
            if (/^\d{2}$/.test(value)) {
                deleteData(value);
            } else {
                // Nếu value không hợp lệ, hiển thị thông báo
                swal("Lỗi! năm kích hoạt thành viên không hợp lệ!");
            }
        });
    }
    
    function deleteData(dataId) {
    $.ajax({
        url: '/admin/member/delete', // Địa chỉ URL của endpoint để xử lý việc xóa dữ liệu
        type: 'POST', // Phương thức HTTP sử dụng là POST
        data: { id: dataId }, // Dữ liệu cần gửi đến máy chủ, ở đây là id của dữ liệu cần xóa
         success: function(response) {
            // Trong phần này, response chính là id trả về từ Spring Controller
          if(response == "true"){
//              alert( "Xóa thành công!");
            swal({
                            title: "Xóa thành công!",
                            text: "Nhấn vào nút để tiếp tục!",
                            icon: "success",
            }).then(function () {
                window.location = "http://localhost:8080/admin/member";
            })
            
            
          }else {
            swal({
                title: "Xóa thất bại!",
                text: "Nhấn vào nút để tiếp tục!",
                icon: "error",
            })
          }
//            alert( response);
                
                      
        },
        error: function(xhr, status, error) {
//            console.error("Error occurred while deleting data:", error);
            alert( response);
        
        }
    });
}
</script>
</body>

</html>