<!DOCTYPE html>
<html lang="en">

    <head th:replace="fragments/head :: head"></head>
    <style>
        /* CSS tùy chỉnh */
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            color: #333;
            padding-top: 50px;
        }
        .card-style > a {
            color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            position: relative;
            text-decoration: none;
        }

        .card-style > a > i {
            font-size: 24px; /* Kích thước biểu tượng */
        }


        table{
            background: linear-gradient(to right,#98F5FF,white 30%,white 70%,#98F5FF);
            width: 100%;
            box-shadow: 0 0px 12px 3px rgba(0, 0, 0, 0.2);
        }
        th, td {
            text-align: center;
            padding: 12px;
        }
        thead tr{
            background-color: #98F5FF;
            border-radius: 20px;
        }
        tbody tr td,
        thead th{
            padding-bottom: 10px;
            vertical-align: middle;
            border: 6px solid white;
        }

    </style>
    <body>
        <!-- ======== sidebar-nav start =========== -->
        <aside th:replace="fragments/aside :: aside"></aside>
        <div class="overlay"></div>
        <!-- ======== sidebar-nav end =========== -->

        <!-- ======== main-wrapper start =========== -->
        <main class="main-wrapper">
            <!-- ========== header start ========== -->
            <header th:replace="fragments/header :: header"></header>
            <!-- ========== header end ========== -->

            <!-- ========== section start ========== -->
            <section class="section">
                <div class="container-fluid">
                    <!-- ========== title-wrapper start ========== -->
                    <div class="title-wrapper pt-30">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="title">
                                    <h2>Thông tin đặt chỗ thiết bị</h2>
                                </div>
                            </div>
                            <!-- end col -->
                            <div class="col-md-6">
                                <div class="breadcrumb-wrapper">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item">
                                                <a href="#0">Thiết Bị</a>
                                            </li>
                                            <li class="breadcrumb-item active" aria-current="page">
                                                Đặt chỗ thiết bị
                                            </li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- ========== title-wrapper end ========== -->

                    <!-- ========== tables-wrapper start ========== -->



                    <div class="tables-wrapper">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card-style mb-30">
                                    <a href="/home" ><i class="fa-solid fa-circle-left"></i></a>  
                                    <div class="card-title mb-3">
                                        <h6 class="mb-10">Chọn Ngày Đặt Chỗ</h6>
                                        <!--                                        <div class="input-group mb-3">
                                                                                    <span class="input-group-text" id="basic-addon1"><i
                                                                                            class="lni lni-search-alt"></i></span>
                                                                                    <input type="text" class="form-control" placeholder="Tên thiết bị"
                                                                                           aria-label="Username" aria-describedby="basic-addon1">
                                                                                </div>-->
                                    </div>
                                    <div
                                        class="table-wrapper table-responsive d-flex flex-column justify-content-center align-items-center">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <h6>Mã Thiết Bị</h6>
                                                    </th>
                                                    <th>
                                                        <h6>Tên Thiết Bị</h6>
                                                    </th>
                                                    <th>
                                                        <h6>Trạng Thái</h6>
                                                    </th>
                                                    <th>
                                                        <h6>Ngày đặt</h6>
                                                    </th>
                                                    <th>
                                                        <h6>Thao Tác</h6>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody class="bg-white">
                                                <tr>
                                                    <td>
                                                        <p id="matb_id" th:text="${maTB != null} ? ${maTB} : ''"></p>
                                                    </td>
                                                    <td class="min-width">
                                                        <p th:text="${tenTB != null} ? ${tenTB} : ''"></p>
                                                    </td>
                                                    <td class="min-width">
                                                        <p th:text="${trangthai != null} ? ${trangthai} : ''"></p>
                                                    </td>
                                                    <td class="min-width">
                                                        <input type="datetime-local" id="selectedDateTime" name="selectedDateTime" required>
                                                    </td>
                                                    <td>
                                                        <div class="action">
                                                            <a id="btnDatCho" class="px-3 py-2 rounded btn-datcho">
                                                                <i class="lni lni-circle-plus"></i> Đặt Chỗ
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script>
                        document.addEventListener("DOMContentLoaded", function () {
                            // Bắt sự kiện click của nút "Đặt Chỗ"
                            var btnDatCho = document.getElementById("btnDatCho");
                            if (btnDatCho) {
                                btnDatCho.addEventListener("click", function (event) {
                                    var selectedDateTimeInput = document.getElementById("selectedDateTime");
                                    var selectedDateTimeValue = selectedDateTimeInput.value;
                                    var maTBcheck = document.getElementById('matb_id').textContent;
                                    console.log(maTBcheck)
                                    if (maTBcheck.length===0) {
                                        alert("Vui lòng chọn thiết bị trước khi đặt chỗ."); 
                                        event.preventDefault();
                                        return ;
                                    }
                                    // Kiểm tra nếu ngày giờ chưa được chọn
                                    if (!selectedDateTimeValue) {
                                        alert("Vui lòng chọn ngày và giờ.");
                                        event.preventDefault();
                                        return;
                                    }

                                    var selectedDate = new Date(selectedDateTimeValue);
                                    var currentDate = new Date();

                                    // Kiểm tra nếu ngày giờ chọn nhỏ hơn ngày giờ hiện tại
                                    if (selectedDate <= currentDate) {
                                        alert("Vui lòng chọn ngày và giờ lớn hơn thời điểm hiện tại.");
                                        event.preventDefault();
                                        return;
                                    }

                                    var year = selectedDate.getFullYear();
                                    var month = ('0' + (selectedDate.getMonth() + 1)).slice(-2);
                                    var day = ('0' + selectedDate.getDate()).slice(-2);
                                    var hours = ('0' + selectedDate.getHours()).slice(-2);
                                    var minutes = ('0' + selectedDate.getMinutes()).slice(-2);
                                    var seconds = ('0' + selectedDate.getSeconds()).slice(-2);
                                    var formattedDateTime = year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds;

                                    var formData = {selectedDateTime: formattedDateTime};
                                    var maTB = window.location.search.split('=')[1]; // Lấy giá trị của 'matb' từ đường dẫn URL

                                    fetch("/home/bookdevice?matb=" + maTB, {
                                        method: "POST",
                                        body: JSON.stringify(formData),
                                        headers: {
                                            "Content-Type": "application/json"
                                        }
                                    })
                                            .then(response => {
//                                                console.log(response);
                                                if (response.ok) {
                                                    return response.text(); // Trả về dữ liệu dưới dạng văn bản nếu thành công
                                                } else {
                                                    throw new Error('Đã xảy ra lỗi khi đặt chỗ thiết bị');
                                                }
                                            })
                                            .then(data => {
                                                alert(data);
                                            })
                                            .catch(error => {
                                                console.error("Error:", error); // Xử lý lỗi nếu có
                                            });
                                });
                            }
                        });
                    </script>


                    <!-- ========== tables-wrapper end ========== -->

                </div>
                <!-- end container -->
            </section>
            <!-- ========== section end ========== -->

            <!-- ========== footer start =========== -->
            <footer th:replace="fragments/footer :: footer"></footer>
            <!-- ========== footer end =========== -->
        </main>
        <!-- ======== main-wrapper end =========== -->

        <div th:replace="fragments/script :: script"></div>
    </body>

</html>