<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/images/favicon.svg" type="image/x-icon" />
    <title>Sign Up | PlainAdmin Demo</title>

    <!-- ========== All CSS files linkup ========= -->
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{css/lineicons.css}" />
    <link rel="stylesheet" th:href="@{css/materialdesignicons.min.css}" />
    <link rel="stylesheet" th:href="@{css/fullcalendar.css}" />
    <link rel="stylesheet" th:href="@{css/main.css}" />
</head>
<body>
<!-- ========== signin-section start ========== -->
<section class="signin-section">
    <div class="container">
        <!-- ========== title-wrapper start ========== -->
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="title">
                    </div>
                </div>
                <!-- end col -->
                <div class="col-md-6">

                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- ========== title-wrapper end ========== -->

        <div class="row g-0 auth-row">
            <div class="col-lg-6">
                <div class="auth-cover-wrapper bg-primary-100">
                    <div class="auth-cover">
                        <div class="title text-center">
                            <h1 class="text-primary mb-10">Get Started</h1>
                        </div>
                        <div class="cover-image">
                            <img th:src="@{img/auth/signin-image.svg}" alt="" />
                        </div>
                        <div class="shape-image">
                            <img th:src="@{img/auth/shape.svg}" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-6">
                <input type="hidden" id="message" th:value="${message}" />
                <div class="signup-wrapper">
                    <div class="form-wrapper">
                        <h6 class="mb-15 text-center">Re Password</h6>
                        <form action="/forgetpass"  method="post">
                            <div class="row">
                                <div class="col-12">
                                    <div class="input-style-1">
                                        <label>Mã Số Sinh Viên</label>
                                        <input type="text" name="id" th:value="${mssv}" placeholder="MSSV" />
                                    </div>
                                </div>
                                <!-- end col -->
                                <div class="col-12">
                                    <div class="input-style-1">
                                        <label>Email</label>
                                        <input type="email" name="email" th:value="${Email}" placeholder="Email" />
                                    </div>
                                </div>
                                    <div class="button-group d-flex justify-content-center flex-wrap">
                                        <button type="submit" class="main-btn primary-btn btn-hover w-100 text-center" >
                                            Sent OTP
                                        </button>
                                    </div>
                        </form>
                        <script type="text/javascript">
                            if(document.getElementById("message").value!=="")
                                //alert(document.getElementById("message").value);
                                    swal({
                                            title: document.getElementById("message").value,
                                            text: "Nhấn vào nút để tiếp tục!"

                                        });
                                function kiemTra() {
                                    var code = document.getElementById("code").value;
                                    var recode = document.getElementById("recode").value;
                                    

                                    if (code.trim() !== recode.trim() ) {
                                       
                                        //alert('OTP incorrect')
                                        swal({
                                            title: "OTP incorrect",
                                            text: "Nhấn vào nút để tiếp tục!",
                                            icon: "error"
                                        });
                                        return false;
                                    }
                                    else if(code.trim() =="" ) {
                                        //alert('Bạn chưa có mã OTP');
                                        swal({
                                            title: "Bạn chưa có mã OTP",
                                            text: "Nhấn vào nút để tiếp tục!",
                                            icon: "error"
                                        });
                                        return false;
                                    }

                                    return true;
                                }
                            </script>
                        <form action="/getpass"  method="post" onsubmit="return kiemTra();">
                                <!-- end col -->
                                <div class="col-12">
                                    <div class="input-style-1">
                                        <label>Code</label>
                                        <input type="hidden" th:value="${code}" id="code" />
                                        <input type="hidden" th:value="${mssv}" name="id"  />
                                        <input type="password" placeholder="Code" id="recode"/>
                                    </div>
                                </div>
                                <!-- end col -->
                                <div class="col-12">
                                    <div class="button-group d-flex justify-content-center flex-wrap">
                                        <button type="submit" class="main-btn primary-btn btn-hover w-100 text-center">
                                            Next
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- end row -->
                        </form>
                        <div class="singup-option pt-40">
                            <p class="text-sm text-medium text-center text-gray">
                                Easy Sign Up With
                            </p>
                            <p class="text-sm text-medium text-dark text-center">
                                Already have an account? <a href="login">Login</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
</section>
<!-- ========== signin-section end ========== -->
<!-- ========= All Javascript files linkup ======== -->
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/Chart.min.js"></script>
<script src="assets/js/dynamic-pie-chart.js"></script>
<script src="assets/js/moment.min.js"></script>
<script src="assets/js/fullcalendar.js"></script>
<script src="assets/js/jvectormap.min.js"></script>
<script src="assets/js/world-merc.js"></script>
<script src="assets/js/polyfill.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>
