<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/images/favicon.svg" type="image/x-icon" />
    <title>Sign In</title>

    <!-- ========== All CSS files linkup ========= -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/lineicons.css}" />
    <link rel="stylesheet" th:href="@{/css/materialdesignicons.min.css}" />
    <link rel="stylesheet" th:href="@{/css/fullcalendar.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>

<body>
<!-- ========== signin-section start ========== -->
<section class="signin-section">
    <div class="container mt-5">
        <div class="row g-0 auth-row">
            <div class="col-lg-6">
                <div class="auth-cover-wrapper bg-primary-100">
                    <div class="auth-cover">
                        <div class="title text-center">
                            <h1 class="text-primary mb-10">Welcome Back</h1>
                            <p class="text-medium">
                                Sign in to your Existing account to continue
                            </p>
                        </div>
                        <div class="cover-image">
                            <img th:src="@{img/auth/signin-image.svg}" alt="" />
                        </div>
                        <div class="shape-image">
                            <img th:src="@{img/auth/shape.svg}" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-6">
                <div class="signin-wrapper">
                    <div class="form-wrapper">
                        <h6 class="text-primary mb-15" style="font-size: larger;">ĐĂNG NHẬP</h6>
                        <p class="text-sm mb-25">
                            Vui lòng đăng nhập để tiếp tục
                        </p>
                        <form action="#" th:action="@{/login}" method="post">
                            <div class="row">
                                <div class="col-12">
                                    <div class="input-style-1">
                                        <label>Mã Thành Viên</label>
                                        <input id="maThanhVien" name="maThanhVien" placeholder="Nhập mã thành viên" />
                                    </div>
                                </div>
                                <!-- end col -->
                                <div class="col-12">
                                    <div class="input-style-1">
                                        <label>Mật Khẩu</label>
                                        <input id="matKhau" name="matKhau" type="password" placeholder="Nhập mật khẩu" />
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="button-group d-flex justify-content-center flex-wrap">
                                        <button id="submitBtn" class="main-btn primary-btn btn-hover w-100 text-center">
                                            Đăng Nhập
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- end row -->
                        </form>
                        <p style="color: red; margin-top: 10px;" th:text="${message}"></p>
                        <div class="singin-option pt-40">
                            <p class="text-sm text-medium text-dark text-center">
                                Bạn chưa có tài khoản?
                                <a href="register"> Đăng ký</a>
                            </p>
                            <p class="text-sm text-medium text-dark text-center">
                                Bạn quên mật khẩu?
                                <a href="forgetpassword"> Quên mật khẩu</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
</section>
<!-- ========== signin-section end ========== -->


<!-- ========= All Javascript files linkup ======== -->
<script src="../static/js/bootstrap.bundle.min.js"></script>
<script src="../static/js/Chart.min.js"></script>
<script src="../static/js/dynamic-pie-chart.js"></script>
<script src="../static/js/moment.min.js"></script>
<script src="../static/js/fullcalendar.js"></script>
<script src="../static/js/jvectormap.min.js"></script>
<script src="../static/js/world-merc.js"></script>
<script src="../static/js/polyfill.js"></script>
<script src="../static/js/main.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script th:inline = "javascript">
    function Check_Null() {
        var maThanhVien = document.getElementById("maThanhVien").value;
        var matKhau = document.getElementById("matKhau").value;
        if (maThanhVien == "" && matKhau == "") {
            swal("Vui lòng nhập đầy đủ thông tin", "", "warning");
            return false;
        }
        if (maThanhVien ==""){
            swal("Vui lòng nhập Mã Thành Viên", "", "warning");
            return false;
        
        }
        if (matKhau ==""){
            swal("Vui lòng nhập Mật Khẩu", "", "warning");
            return false;
        } 
    }
   
    document.getElementById("submitBtn").addEventListener("click", function () {
        if (Check_Null() == false) {
            event.preventDefault();
            return;
        }
        
    });

</script>
</body>

</html>